<div class="row align-top">
  <div class="checkbox col-xs-10">
      <label class="taskTitle-{{task.isCompleted}}">
          <input type="checkbox" ng-model="task.isCompleted" ng-change="updateChecked()" ng-true-value="true"  ng-false-value="false"/>{{task.title}}
          <a href="" ng-click="editTask(task);"><i class="fa fa-pencil spacer" aria-hidden="true"></i></a>
          <a href="" class="btn-error" ng-click="deleteTask(task)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </label>

  </div>
  <div class="col-xs-2 text-right">
    <span ng-bind="convertToDate(task.dueDate) | date:'MM/dd/yyyy'"></span>
  </div> 
</div> 
<div class="row">
          <div class="col-md-12">
              <span>{{task.description}}</span>
          </div>
      </div> 